%table.zebra-striped
  %thead
    %tr
      %th.first
        %th First name
        %th Last name
        %th Public name
        %th Email
        %th Recipient
        %th Group
        %th Travel support
        %th Past travel assistance
      %th.last
  %tbody
    - collection.each do |event_person|
      - event = event_person.event
      - person = event_person.person
      %tr
        %td
        %td= link_to person.first_name, person
        %td= link_to person.last_name, person
        %td
          - if person.public_name.nil?
            = "-"
          - else
            = link_to person.public_name, person
        %td= link_to person.email, person
        %td= event.recipient_travel_stipend.present? ? event.recipient_travel_stipend : '-'
        %td= event.group
        %td= event.travel_support.join(', ')
        %td= event.past_travel_assistance.join(', ')

        %td.buttons
          - if can? :manage, person
            - if person.old_attendance_status == "pending attendance"
              = action_button "small primary", 'Confirm', confirm_attendance_people_path(person), method: :get
            - if person.old_attendance_status == "waitlist"
              = action_button "small success", 'Invite', invite_people_path(person), method: :get
            - if person.old_attendance_status == "pending attendance"
              = action_button "small info", "Move to Waitlist", move_to_waitlist_people_path(person), method: :get
            - if person.old_attendance_status == "canceled"
              = action_button "small success", 'Uncancel', move_to_pending_people_path(person), method: :get
            = action_button "small danger", 'Destroy', person, confirm: 'Are you sure?', method: :delete, :data => {:confirm => "Are you absolutely sure you want to delete this person? This will be final!"}
