- if FeatureToggle.new_ticketing_system_enabled?
  %table.zebra-striped
    %thead
      %tr
        - if @search
          %th= sort_link @search, :public_name, term: params[:term]
          %th= sort_link @search, :person_email, term: params[:term]
          %th= sort_link @search, :iff_days, term: params[:term]
          %th= sort_link @search, :amount, term: params[:term]
          %th= sort_link @search, :ticket_option, term: params[:term]
          %th= sort_link @search, :status, term: params[:term]
        - else
          %th Public Name
          %th Email
          %th Days
          %th Amount
          %th Ticket Option
          %th Ticket Status
          %th.last
      %tbody
        - collection.each do |ticket|
          - person = ticket.person
          %tr
            %td= link_to ticket.public_name, ticket.person
            %td= link_to person.email, ticket.person
            %td= link_to ticket.iff_days.to_sentence, ticket.person
            %td= link_to ticket.amount, ticket.person
            %td= link_to ticket.ticket_option, ticket.person
            %td= link_to ticket.status, ticket.person
