%section
  .page-header
    .pull-right
      - if can? :administrate, Person
        = action_button "primary", "Add person", new_person_path, title: "Add a new person."
    %h1 List of people

  %ul.tabs
    %li= link_to "All people", all_people_path
    %li= link_to "Tickets", tickets_people_path
    %li= link_to "Speakers", speakers_people_path
    %li= link_to "Attendees", all_confirmed_people_path
    %li= link_to "DIF", dif_people_path
    %li= link_to "Volunteers", volunteers_people_path
    %li= link_to "Confirmed Speakers", confirmed_speakers_people_path
    -# %li.active= link_to "Waitlist", waitlisted_people_path
    -# %li= link_to "Canceled", canceled_people_path

  %h4 There are #{@people.count} total people waitlisted for the #{@conference.title}.

  .pull-right
    - if can? :administrate, Person
      = link_to "Download CSV of Waitlisted People", waitlisted_people_path(format: "csv")

  = render 'shared/search_and_table', collection: @people
