<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

    body{
      font: normal 12px roboto, verdana, sans-serif;
    }

    .day_button {
      padding: 10px;
      background-color: #d9d9d9;
      justify-content: column;
    }
    .flex_buttons{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    .flex > div {
      flex: 1 1 auto;
      width: 30px; /* To make the transition work nicely. (Transitions to/from
                      "width:auto" are buggy in Gecko and Webkit, at least.
                      See http://bugzil.la/731886 for more info.) */
      transition: width 0.7s ease-out;
    }
    #navigation{
      display: none;
    }

    .event_block{
      background-color: #fde1d4;
      margin-bottom: 20px;
      margin-left: 25px;
      padding: 30px;
      margin-right: 0px;
      border-left: 5px solid #f74c33;
      /*cursor: pointer;*/
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    .time_slot_header{
      border-bottom: 1px dashed #f74c33;
      padding-bottom: 8px;
      padding-left: 5px;
      color: #f74c33;
    }

  </style>
</head>

<body>
  <div class="container">
    <div class="row flex_buttons">
      <% @all_days.each do |day| %>
        <div>
          <%= button_to "#{day.start_date.strftime("%A")}", {:controller => "public/schedule", :action => "custom"}, params: {day: "#{day.id}"}, :method=>"get", :class=>"day_button" %>
        </div>
        <div style="width: 15px">
        </div>
      <% end %>
    </div>

  <!-- Testing Testing -->
    <div>
      <% @events_by_day_time.each do |time, events| %>
        <div>
          <h5 class="time_slot_header"><%= time.strftime("%A, %l:%M %p") %></h5>
          <!-- If there is no items or nil show no events div -->
          <% if @events_by_day_time[time].length < 1 || @events_by_day_time[time].nil? %>
            <div>There are no events for this day</div>
          <!-- If there is only one event for a time slot do not slice -->
          <% elsif @events_by_day_time[time].length == 1 %>
            <% @events_by_day_time[time].each do |event| %>
              <div class="row">
                <!-- using an anchor tag... but hard coded beginging url is undesirable -->
                <a href="/en/iff-2018/public/schedule/custom/<%= event.id %>" style="height: 100%; width: 100%; display: block; text-decoration: inherit; color: inherit">
                  <div class="col-md-5 event_block">
                    <div class="row">
                      <h5><%= event.title %></h5>
                    </div>
                    <div class="row">
                      <div class="col-md-3">[x] <%= event.start_time.strftime("%I:%M") %> - <%= event.end_time.strftime("%I:%M%p") %></div>
                      <div class="col-md-2">[x] <%= event.language.upcase %></div>
                      <div class="col-md-4">[x] <%= event.event_type %></div>
                      <div class="col-md-3">[x] <%= event.room.name %></div>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          <% else %>          
          <!-- If there are more than one event for a time slot, slice for 2 column effect -->
            <% @events_by_day_time[time].each_slice(2) do |events| %>
              <div class="row">
                <a href="/en/iff-2018/public/schedule/custom/<%= events[0].id %>" style="height: 100%; width: 100%; display: block; text-decoration: inherit; color: inherit">
                  <div class="col-md-5 event_block">
                    <div class="row">
                        <h5><%= events[0].title %></h5>
                    </div>
                    <div class="row">
                      <div class="col-md-3">[x] <%= events[0].start_time.strftime("%I:%M") %> - <%= events[0].end_time.strftime("%I:%M%p") %></div>
                      <div class="col-md-2">[x] <%= events[0].language.upcase %></div>
                      <div class="col-md-4">[x] <%= events[0].event_type %></div>
                      <div class="col-md-3">[x] <%= events[0].room.name %></div>
                    </div>
                  </div>
                </a>
                <!-- Make sure there is a second event -->
                <% if events[1] %>
                  <a href="/en/iff-2018/public/schedule/custom/<%= events[1].id %>" style="height: 100%; width: 100%; display: block; text-decoration: inherit; color: inherit">
                    <div class="col-md-5 event_block">
                      <div class="row">
                        <h5> <%= events[1].title %></h5>
                      </div>
                      <div class="row">
                        <div class="col-md-3">[x] <%= events[1].start_time.strftime("%I:%M") %> - <%= events[1].end_time.strftime("%I:%M%p") %></div>
                        <div class="col-md-2">[x] <%= events[1].language.upcase %></div>
                        <div class="col-md-4">[x] <%= events[1].event_type %></div>
                        <div class="col-md-3">[x] <%= events[1].room.name %></div>
                      </div>
                    </div>
                  </a>
                <% end %>
            </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div><!-- Ends container div -->
</body>