<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container {
      width: 90%;
    }

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }

    #navigation, #header {
      display: none;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      line-height: 1.6em;
      background-color: #6060ef;
    }

    body a {
      color: #6060ef;
      text-decoration: none;
    }

    body a:hover {
      color: #6060ef;
      text-decoration: none;
    }

    .container a {
      color: #6060ef;
      text-decoration: underline;
      background-color: white;
      border-radius: 5px;
      padding: 4px;
      font-weight: bold;
      border: 2px solid white;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }

    .container a:hover {
      text-decoration: underline;
      color: white;
      background-color: transparent;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }

    .session_title {
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 25px;
      margin-top:35px;
      color: white;
      font-size:25px;
    }

    .container .back_button {
      padding: 18px;
      font-size: 15px;
      color: #6060ef;
      background-color: white;
      width: 150px;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 5px;
      text-decoration: none;
    }

    .container .back_button:hover {
      background-color: transparent;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      text-decoration: inherit;
      color: white;
    }

    #main-content {
      border-width: 0px;
      margin: 0;
      margin-bottom: 2.25em;
      padding-left: 0em;
      background-color: #6060ef;
      color: white;
    }

    #header_container {
      background-color: black;
      display: table;
      width:100%;
      padding-left: 3%;
      padding-top:25px;
      padding-right:0%;
      padding-bottom:20px;
    }

    #main_header {
      font-size: 25px;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      color: white;
      margin: 0;
      margin-top: 0px;
      margin-left: 0px;
      margin-top: 5px;
      font-weight: 300;
      margin-left: 5px;
      display: table-cell;
      float: left;
    }

    #header_logo {
      max-width: 200px !important;
      display: table-cell;
      float: left;
      margin-right: 20px;
    }

    .session_info {
      margin: 6px 0px 10px;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
    }

    .special_back_button {
      margin-top: 35px;
    }

    @media only screen and (max-width: 980px) {
      #main_header {
        font-size: 20px;
        margin-top: 10px;
      }
    }

    @media only screen and (max-width: 768px) {
      .day_button {
        padding: 8px 35px;
        background-color: #f74c33;
        font-size: 14px;
        border: 0px;
        color: white;
        width: 100%;
        margin-bottom: 7px;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }
      .day_button:hover {
        background-color: #f74c33cc;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }
      .notes_link {
        color: #f74c33;
        text-decoration: none;
        font-weight: 600;
      }
      .notes_link:hover, .notes_link:visited {
        color: #f74c33;
        text-decoration: none;
      }
      #header_logo {
        max-width: 29% !important;
      }

      #main_header {
        font-size: 130% !important;
        margin-top: 0px !important;
        max-width: 64% !important;
      }
      .container {
        width: 97%;
      }
    }

    @media only screen and (max-width: 414px) {
      .day_button {
        padding: 8px 35px;
        background-color: #f74c33;
        font-size: 14px;
        border: 0px;
        color: white;
        width: 100%;
        margin-bottom: 7px;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      .day_button:hover {
        background-color: #f74c33cc;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      #header_logo {
        max-width: 140px !important;
        margin-right:auto !important;
        float:left;
      }

      #main_header {
        font-size: 15px !important;
        margin-top: -3px !important;
        margin-right: 2% !important;
        float: right !important;
        max-width: 50% !important;
      }

      .container {
        width: 97%;
      }
    }
  </style>
</head>

<body>
  <div id="banner">
    <div class="row" id="header_container">
      <div>
        <%= link_to image_tag("internet-freedom-festival-logo-hd-white.png", id: "header_logo"), "https://internetfreedomfestival.org/", target: "_blank" %>
      </div>
      <div>
        <h1 id="main_header">Internet Freedom Festival <%= @event.conference.year %> Program</h1>
      </div>
    </div>
  </div>

  <!-- Special Event -->
  <% if @event.public_type == "meditation" || @event.public_type == "social" || @event.public_type == "special" %>
    <div class="container">
      <div class="row">
        <h1 class="session_title"><%= @event.title %></h1>
      </div>
        <div class="session_info"><strong>Date:</strong> <%= @event.end_time.strftime("%A, %B %e, %Y") %>
        </div>
        <div class="session_info"><strong>Time:</strong> <%= @event.start_time.strftime("%I:%M") %> - <%= @event.end_time.strftime("%I:%M %p") %>
        </div>
        <div class="session_info"><strong>Room:</strong> <%= @event.room.name %>
        </div>
        <div class="session_info"><strong>Duration:</strong> <%= @event.time_slots / 4 %> hour(s)</div>
        <div><strong>Description:</strong></div>
        <div class="session_info"><%= @event.description %></div>
        <div class="row special_back_button">
          <%= link_to("← Back to Program", public_custom_path, class: "back_button") %>
        </div>
      </div>
  <!-- Normal Event -->
  <% else %>
    <div class="container">
      <div class="row">
        <h1 class="session_title">
          <%= @event.title %>
        </h1>
      </div>
      <div class="session_info">
        <strong>Date:</strong>
        <%= @event.end_time.strftime("%A, %B %e, %Y") %>
      </div>
      <div class="session_info">
        <strong>Time:</strong>
        <%= @event.start_time.strftime("%I:%M") %> - <%= @event.end_time.strftime("%I:%M %p") %>
      </div>
      <div class="session_info">
        <strong>Room:</strong>
        <%= @event.room.name %>
      </div>
      <div class="session_info">
        <strong>Notes:</strong>
        <a href="https://<%= @event.etherpad_url %>" target="_blank" class="notes_link"><%= @event.etherpad_url %></a>
      </div>
      <div class="session_info">
        <strong>Duration:</strong>
        <%= @event.time_slots / 4 %> hour(s)
      </div>
      <div class="session_info">
        <strong>Format:</strong>
        <%= @event.track.name %>
      </div>
      <div class="session_info">
        <strong>Theme:</strong>
        <%= @event.event_type %>
      </div>
      <div class="session_info">
        <strong>Presenter:</strong>
        <%= @presenter_public_name %>
      </div>
      <div class="session_info">
        <strong>Other Presenters:</strong>
        <%= @other_presenters_public_names %>
      </div>
      <div>
        <strong>Description:</strong>
      </div>
      <div class="session_info">
        <%= @event.description %>
      </div>
      <div>
        <strong>Target Audience:</strong>
      </div>
      <div class="session_info">
        <%= @target_audience %>
      </div>
      <div>
        <strong>Goal of the session:</strong>
      </div>
      <div class="session_info">
        <%= @goal %>
      </div>
      <div>
        <strong>Desired Outcome:</strong>
      </div>
      <div class="session_info">
        <%= @desired_outcome %>
      </div>
      <br>
      <div class="row">
        <%= link_to("← Back to Program", public_custom_path(day: @day_id), class: "back_button") %>
      </div>
    </div>
  <% end %>
</body>
<!-- Title
Time
Room
Theme
Other Presenters
Language
Format
Skill Level
Session Duration
Description
Target Audience
Desired Outcome
Notes (figuring how we want to display this now)
pad.internetfreedomfestival.org/p/IDNUMBER
 -->
