<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    #main-content{
      border-width: 0px;
      margin: 0;
      padding-left: 0em;
    }

    #bottom-banner {
        width: 100%;
        height: 40px;
        background-color: #1d1d1a;
        position: fixed;
        z-index: 1001;
        bottom: 0;
        left: 0;
        padding-left: 5%;
        padding-top: 10px;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }

    #BTT-button {
      margin-right: 5%;
      border: 1px solid white;
      padding: 2px 14px;
      cursor: pointer;
      float: right;
      width: 100px;
      background-color: transparent;
      transition-property: color;
      transition: 0.2s;
    }

    #BTT-button:hover {
      background-color: white;
      transition-property: color;
      transition: 0.2s;
    }

    #BTT-button a {
      color: white;
      text-decoration: none;
      transition-property: color;
      transition: 0.2s;
    }

    #BTT-button a:hover {
      color: #1d1d1a;
      text-decoration: none;
      transition-property: color;
      transition: 0.2s;
    }

    #bottom-banner-text {
      float:left;
    }

    #bottom-banner-text a {
      text-decoration: none !important;
      color: white;
    }

    .venue_map {
      margin-top: 15px;
      font-size: 15px;
    }

    .venue_map a {
      color: #6060ef;
      font-weight: bold;
    }

    body {
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
    }

    .break_event {
      display: none;
    }

    .container {
      width: 95%;
      margin-bottom: 20px;
    }

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }

    .flex_buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-left: 0;
      margin-bottom: 20px;
    }
    .flex > div {
      flex: 1 1 auto;
      width: 30px; /* To make the transition work nicely. (Transitions to/from
                      "width:auto" are buggy in Gecko and Webkit, at least.
                      See http://bugzil.la/731886 for more info.) */
      transition: width 0.7s ease-out;
    }
    #navigation, #header {
      display: none;
    }

    #header_container {
      background-color: #1d1d1a;
      display: table;
      width:100%;
      padding-left: 3%;
      padding-top:25px;
      padding-right:0%;
      padding-bottom:20px;
    }

    #main_header {
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      color: white;
      margin: 0;
      margin-left: 0px;
      margin-top: 5px;
      font-weight: 300;
      margin-left: 5px;
      display: table-cell;
      float: left;
    }

    #header_logo {
      max-width: 200px;
      display: table-cell;
      float: left;
      margin-right: 20px;
    }

    .day_button {
      padding: 15px 35px;
      background-color: #6060ef;
      font-size: 16px;
      border: 0px;
      color: white;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border-bottom: 4px solid #343488;
    }

    .day_button:hover {
      background-color: #343488;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }

    .top_border {
      margin-top: 20px;
      border-top: 3px solid #6060ef;
    }

    .selected_day {
      font-size: 30px;
      color: #6060ef;
    }

    .event_block {
      background-color: #6060ef;
      margin-bottom: 20px;
      margin-left: 0%;
      margin-right: 2%;
      padding: 30px;
      border-left: 5px solid #343488;
      cursor: pointer;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height: 160px;
      transition-property: border;
      transition: 0.2s;
      width: 48% !important;
      color: white;
    }

    .event_block:hover {
      border-left: 25px solid #343488;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      background-color: #6060efe6;
    }

    .special_event_block {
      background-color: white !important;
      margin-bottom: 20px;
      margin-left: 0%;
      margin-right: 2%;
      padding: 30px;
      cursor: pointer;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height: 160px;
      transition-property: border;
      transition: 0.2s;
      width: 48% !important;
      color: #6060ef !important;
      border: 10px solid #6060ef;
    }

    .special_event_block:hover {
      background-color: white !important;;
      margin-bottom: 20px;
      margin-left: 0%;
      margin-right: 2%;
      padding: 30px;
      cursor: pointer;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height: 160px;
      transition-property: border;
      transition: 0.2s;
      width: 48% !important;
      color: #6060ef !important;
      border: 20px solid #6060ef;
    }

    .social_event_block{
      background-color: #1ba5ab;
      margin-bottom: 20px;
      margin-left: 0%;
      margin-right: 2%;
      padding: 30px;
      cursor: pointer;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height:160px;
      transition-property: border;
      transition: 0.2s;
      width: 48% !important;
      color: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    .social_event_block:hover{
      background-color: #1ba5abcc;
    }

    .meditation_event_block{
      background-color: #1ba5ab;
      margin-bottom: 20px;
      margin-left: 0%;
      margin-right: 2%;
      padding: 30px;
      cursor: pointer;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height:160px;
      transition-property: border;
      transition: 0.2s;
      width: 48% !important;
      color: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    .meditation_event_block:hover {
      background-color: #1ba5abcc;
    }

    .time_slot_header {
      border-bottom: 1px dotted #1d1d1a;
      padding-bottom: 8px;
      color: #1d1d1a;
      font-size: 16px;
    }

    .session_titles {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      margin-top: -5px;
      margin-bottom: 15px;
      text-decoration: inherit;
    }

    .no_link_effect {
      height: 100%;
      width: 100%;
      display: block;
      text-decoration: inherit;
      color: inherit
    }

    .no_link_effect:hover {
      color: inherit;
    }

    .session_info {
      width: 100%;
      margin-bottom: 8px;
      font-size: 14px;
      padding-left: 10px !important;
    }

    .search_form {
      position: relative;
      margin-bottom: 10px;
      font-size: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 48%;
    }

    .search_input {
      background: rgba(96, 96, 239, 0.1);
      border: 2px solid #6060ef;
      border-radius: 2px;
      color: #6060ef;
      padding: 10px;
      margin-right: 10px;
      width: 40%;
      flex-grow: 2;
    }

    .search_button {
      color: #6060ef;
      border-color: #6060ef;
      background-color: white;
      border-radius: 2px;
      opacity: 1;
      border: 2px solid #6060ef;
      padding: 10px 20px;
      font-weight: 700;
      margin-right: 5px;
      text-decoration: none;
    }

    .search_button:hover {
      color: white;
      background-color: #6060ef;
      text-decoration: none;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }

    .search_message {
      font-size: 18px;
      color: #6060ef;
    }

    @media only screen and (max-width: 980px) {
      .row {
        margin-left: 0px;
        margin-right: 0px;
      }

      #main-content {
        border-width: 0px;
        margin: 0;
        padding-left: 0em;
      }

      #main_header {
        font-size: 20px;
        margin-top: 10px;
      }

      .session_titles {
        margin-top: 0px;
      }

      .meditation_event_block {
        width: auto !important;
      }

      .event_block {
        width: 100% !important;
        height: auto !important;
        margin-left: 0px;
        padding:16px;
      }

      .meditation_event_block {
        width: 100% !important;
        height: auto !important;
        margin-left: 0px;
        padding:16px;
      }

      .meditation_event_block:hover {
        width: 100% !important;
      }

      .social_event_block {
        width: 100% !important;
        height: auto !important;
        margin-left: 0px;
        padding:16px;
      }

      .social_event_block:hover {
        width: 100% !important;
      }

      .special_event_block {
        width: 100% !important;
        height: auto !important;
        margin-left: 0px;
        padding:16px;
      }

      .special_event_block:hover {
        width: 100% !important;
      }

      .session_info {
        width: 100%;
        margin-bottom: 2px;
        font-size: 14px;
        padding-left: 10px !important;
      }

      .search_form {
        width: 100%;
      }
    }

    @media only screen and (max-width: 768px) {
      a:focus, a:hover {
        color: black;
        text-decoration: none;
      }

      .top_border {
        width: 103%;
      }

      .container {
        padding-right: 10px;
        padding-left: 0px;
        margin-left: 5px;
        width: 97%;
      }

      .flex_buttons {
        flex-direction: column;
        width: 103% !important;
        margin-top: 10px;
        margin-bottom: -16px;
      }

      .selected_day {
        font-size: 25px;
      }

      .event_block {
        height: auto;
        margin-left: 4px;
        padding: 10px;
      }

      .event_block:hover {
        border-left: 5px solid #f74c33;
      }

      .meditation_event_block {
        height: auto;
        margin-left: 4px;
        padding: 10px;
      }

      .social_event_block {
        height: auto;
        margin-left: 4px;
        padding: 10px;
      }

      .special_event_block {
        height: auto;
        margin-left: 4px;
        padding: 10px;
      }

      .session_titles {
        font-size: 15px;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 0px;
      }

      .day_button {
        padding: 8px 35px;
        background-color: #6060ef;
        font-size: 14px;
        border: 0px;
        color: white;
        width: 100%;
        margin-bottom: 7px;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      .day_button:hover {
        background-color: #343488;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      #header_logo {
        max-width: 29%;
      }

      #main_header {
        font-size: 130%;
        margin-top: 0px;
        max-width: 64%;
      }

      .search_form {
        width: 100%;
      }
    }

    @media only screen and (max-width: 414px) {
      a:focus, a:hover {
        color: black;
        text-decoration: none;
      }

      .top_border {
        width: 102%;
      }

      .container {
        padding-right: 10px;
        padding-left: 0px;
        margin-left: 5px;
        width: 98%;
      }

      .flex_buttons {
        flex-direction: column;
        width:102% !important;
        margin-top: 10px;
        margin-bottom: -16px;
      }

      .event_block {
        height: auto;
        margin-left: 5px;
        padding: 10px;
      }

      .event_block:hover {
        border-left: 5px solid #f74c33;
      }

      .meditation_event_block {
        height: auto;
        margin-left: 5px;
        padding: 10px;
      }
      .social_event_block {
        height: auto;
        margin-left: 5px;
        padding: 10px;
      }
      .special_event_block {
        height: auto;
        margin-left: 5px;
        padding: 10px;
      }

      .session_titles {
        font-size: 15px;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 0px;
      }

      .day_button {
        padding: 8px 35px;
        background-color: #6060ef;
        font-size: 14px;
        border: 0px;
        color: white;
        width: 100%;
        margin-bottom: 7px;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      .day_button:hover {
        background-color: #343488;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      #header_logo {
        max-width: 140px;
        margin-right:auto;
        float:left;
      }

      #main_header {
        font-size: 15px;
        margin-top: -3px;
        margin-right: 2%;
        float: right;
        max-width: 50%;
      }

      .search_form {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <div id="banner">
    <div class="row" id="header_container">
      <div>
        <%= link_to image_tag("internet-freedom-festival-logo-hd-white.png", id: "header_logo"), "https://internetfreedomfestival.org/", target: "_blank" %>
      </div>
      <div>
        <h1 id="main_header">Internet Freedom Festival <%= @conference.year %> Program</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row flex_buttons">
      <% @all_days.each do |day| %>
        <div>
          <%= button_to "#{day.start_date.strftime("%A")}", {:controller => "public/schedule", :action => "custom"}, params: {day: "#{day.id}"}, :method=>"get", :class=>"day_button" %>
        </div>
        <div style="width: 15px">
        </div>
      <% end %>
    </div>

    <div class="top_border">
      <div class="row" style="margin-left: 0">
        <div class="venue_map">
          <p>Our <a target="_blank" href="https://internetfreedomfestival.org/wiki/index.php/Code_of_Conduct">Code of Conduct</a> applies to all the IFF activities. Please read it carefully.
          </p>
        </div>
        <div class="venue_map">
          <p>Can't find a room? Check out the <a href="https://internetfreedomfestival.org/#venue-map" target="_blank">venue map here</a>.</p>
        </div>
        <div class="venue_map">
          <p>Wanna find a session? Search for it:</p>
          <%= form_tag request.path, method: :get, id: 'search_form', class: 'search_form' do %>
            <%= text_field_tag :terms, params[:terms], class: 'search_input' %>
            <%= submit_tag "Search", name: "", class: 'search_button' %>
            <%= link_to "Clear", request.path, class: 'search_button' %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @events_by_day_and_time.values.all?(&:empty?) %>
      <div class="row" style="margin-left: 0">
        <h2 class="search_message">Sorry, but your search yielded no results.</h2>
      </div>
    <% end %>

    <% @events_by_day_and_time.each do |day, events_by_time| %>
      <% next if events_by_time.empty? %>
      <div> <!-- Contains all events -->
        <div class="row" style="margin-left: 0">
          <h2 class="selected_day"><%= day.nil? ? "" : day.start_date.strftime("%A, %B %e %Y") %></h2>
        </div>
        <% events_by_time.each do |time, events| %>
          <div><!-- Show Day and TIME for each start time -->
            <h5 class="time_slot_header"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time.strftime("%A, %l:%M %p") %></h5>
          </div>

            <!-- If there is no items or nil show no events div -->
            <% if events_by_time[time].length < 1 || events_by_time[time].nil? %>
              <div>
                <h5>There are no events for this day</h5>
              </div>

            <!-- If there is only one event for a time slot do NOT slice -->
            <% elsif events_by_time[time].length == 1 %>
              <% events_by_time[time].each do |event| %>
                <% if event.public_type.nil? || event.public_type == "" %><!-- NOT special, social, or meditation-->

                  <div class="row">
                    <%= link_to public_custom_show_path(event), class: "no_link_effect" do %>
                      <div class="col-md-5 event_block">
                        <div class="row">
                          <h5 class="session_titles"><%= event.title %></h5>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.start_time.strftime("%I:%M") %> - <%= event.end_time.strftime("%I:%M%p") %>
                            <% if event.time_slots > 4 %>
                              (<%= event.time_slots / 4.0 %>h)
                            <% end %>
                          </div>
                          <div class="col-md-3 session_info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <% if event.event_type && event.event_type.include?("Internet")%>
                              IF: Present and Future</div>
                            <% elsif event.event_type && event.event_type.include?("Journalism") %>
                              Journalism, Media and Comms</div>
                            <% elsif event.event_type %>
                              <%= event.event_type %></div>
                            <% end %>
                          <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.room.name %></div>
                        </div>
                      </div>
                    <% end %> <!-- End link to event show-->
                  </div><!-- End Row  -->

                <% elsif event.public_type == "special" %><!--  IT IS a SPECIAL EVENT -->
                  <div class="row">
                    <%= link_to public_custom_show_path(event), class: "no_link_effect" do %>
                      <div class="col-md-11 special_event_block">
                        <div class="row">
                          <h5 class="session_titles"><%= event.title %></h5>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.start_time.strftime("%I:%M") %> - <%= event.end_time.strftime("%I:%M%p") %>
                            <% if event.time_slots > 4 %>
                              (<%= event.time_slots / 4.0 %>h)
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.room.name %></div>
                        </div>
                      </div>
                    <% end %><!-- End of link to special event show -->
                  </div><!-- End Row -->

                <% elsif event.public_type == "social" %> <!-- IT IS a SOCIAL EVENT -->
                  <div class="row">
                    <%= link_to public_custom_show_path(event), class: "no_link_effect" do %>
                      <div class="col-md-11 social_event_block">
                        <div class="row">
                          <h5 class="session_titles"><%= event.title %></h5>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.start_time.strftime("%I:%M") %> - <%= event.end_time.strftime("%I:%M%p") %>
                            <% if event.time_slots > 4 %>
                              (<%= event.time_slots / 4.0 %>h)
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.room.name %></div>
                        </div>
                      </div>
                    <% end %> <!-- End of link to social event show -->
                  </div><!-- End Row-->

                <% elsif event.public_type == "meditation" %> <!-- IT IS a MEDITAION EVENT -->
                  <div class="row">
                    <%= link_to public_custom_show_path(event), class: "no_link_effect" do %>
                      <div class="col-md-11 meditation_event_block">
                        <div class="row">
                          <h5 class="session_titles"><%= event.title %></h5>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.start_time.strftime("%I:%M") %> - <%= event.end_time.strftime("%I:%M%p") %>
                            <% if event.time_slots > 4 %>
                              (<%= event.time_slots / 4.0 %>h)
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.room.name %></div>
                        </div>
                      </div>
                    <% end %><!-- End of link to meditation event show -->
                  </div><!-- End Row-->
                <% end %><!--End Conditionals for public_type for one event/time slot -->
              <% end %><!-- End loop -->


            <% else %><!-- If more than one event for a time slot, slice for 2 column effect -->
              <% events_by_time[time].each_slice(2) do |events| %>
                <div class="row">
                  <% if events[0].public_type.nil? || events[0].public_type == ""%><!-- NOT social, special, meditation -->
                    <%= link_to public_custom_show_path(events[0]), class: "no_link_effect" do %>
                      <div class="col-md-5 event_block">
                        <div class="row">
                            <h5 class="session_titles"><%= events[0].title %></h5>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= events[0].start_time.strftime("%I:%M") %> - <%= events[0].end_time.strftime("%I:%M%p") %>
                            <% if events[0].time_slots > 4 %>
                              (<%= events[0].time_slots / 4.0 %>h)
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <% if events[0].event_type && events[0].event_type.include?("Internet")%>
                              IF: Present and Future
                            <% elsif events[0].event_type && events[0].event_type.include?("Journalism") %>
                              Journalism, Media and Comms
                            <% elsif events[0].event_type %>
                              <%= events[0].event_type %>
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= events[0].room.name %>
                          </div>
                        </div>
                      </div>
                    <% end %>

                  <% elsif events[0].public_type == "special" %><!--  IT IS a SPECIAL EVENT -->
                    <%= link_to public_custom_show_path(events[0]), class: "no_link_effect" do %>
                      <div class="col-md-5 special_event_block">
                        <div class="row">
                            <h5 class="session_titles"><%= events[0].title %></h5>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= events[0].start_time.strftime("%I:%M") %> - <%= events[0].end_time.strftime("%I:%M%p") %>
                            <% if events[0].time_slots > 4 %>
                              (<%= events[0].time_slots / 4.0 %>h)
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= events[0].room.name %></div>
                        </div>
                      </div>
                    <% end %>

                  <% elsif events[0].public_type == "social" %><!--  IT IS a SOCIAL EVENT -->
                    <%= link_to public_custom_show_path(events[0]), class: "no_link_effect" do %>
                        <div class="col-md-5 social_event_block">
                          <div class="row">
                              <h5 class="session_titles"><%= events[0].title %></h5>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= events[0].start_time.strftime("%I:%M") %> - <%= events[0].end_time.strftime("%I:%M%p") %>
                              <% if events[0].time_slots > 4 %>
                                (<%= events[0].time_slots / 4.0 %>h)
                              <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= events[0].room.name %></div>
                          </div>
                        </div>
                    <% end %>

                  <% elsif events[0].public_type == "meditation" %><!--  IS MEDITATION EVENT -->
                    <%= link_to public_custom_show_path(events[0]), class: "no_link_effect" do %>
                        <div class="col-md-11 meditation_event_block">
                          <div class="row">
                              <h5 class="session_titles"><%= events[0].title %></h5>
                          </div>
                          <div class="row">
                            <div class="col-md-3"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= events[0].start_time.strftime("%I:%M") %> - <%= events[0].end_time.strftime("%I:%M%p") %>
                              <% if events[0].time_slots > 4 %>
                                (<%= events[0].time_slots / 4.0 %>h)
                              <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= events[0].room.name %></div>
                          </div>
                        </div>
                    <% end %>
                  <% end %><!-- Ends conditional for first event of multiple events-->


                  <% if events[1] %><!-- Make sure there is a second event -->
                    <% if events[1].public_type.nil? || events[1].public_type == "" %><!-- NOT social, special, meditation -->
                      <%= link_to public_custom_show_path(events[1]), class: "no_link_effect" do %>
                        <div class="col-md-5 event_block">
                          <div class="row">
                            <h5 class="session_titles"> <%= events[1].title %></h5>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= events[1].start_time.strftime("%I:%M") %> - <%= events[1].end_time.strftime("%I:%M%p") %>
                            <% if events[1].time_slots > 4 %>
                              (<%= events[1].time_slots / 4.0 %>h)
                            <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                              <% if events[1].event_type && events[1].event_type.include?("Internet")%>
                                IF: Present and Future
                              <% elsif events[1].event_type && events[1].event_type.include?("Journalism") %>
                                Journalism, Media and Comms
                              <% elsif events[1].event_type %>
                                <%= events[1].event_type %>
                              <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= events[1].room.name %>
                            </div>
                          </div>
                        </div>
                      <% end %>

                    <% elsif events[1].public_type == "special" %><!--  IT IS a SPECIAL EVENT -->
                      <%= link_to public_custom_show_path(events[1]), class: "no_link_effect" do %>
                        <div class="col-md-5 special_event_block">
                          <div class="row">
                            <h5 class="session_titles"> <%= events[1].title %></h5>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= events[1].start_time.strftime("%I:%M") %> - <%= events[1].end_time.strftime("%I:%M%p") %>
                            <% if events[1].time_slots > 4 %>
                              (<%= events[1].time_slots / 4.0 %>h)
                            <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= events[1].room.name %></div>
                          </div>
                        </div>
                      <% end %>

                    <% elsif events[1].public_type == "social" %><!--  IT IS a SOCIAL EVENT -->

                      <%= link_to public_custom_show_path(events[1]), class: "no_link_effect" do %>
                        <div class="col-md-5 social_event_block">
                          <div class="row">
                            <h5 class="session_titles"> <%= events[1].title %></h5>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= events[1].start_time.strftime("%I:%M") %> - <%= events[1].end_time.strftime("%I:%M%p") %>
                            <% if events[1].time_slots > 4 %>
                              (<%= events[1].time_slots / 4.0 %>h)
                            <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= events[1].room.name %></div>
                          </div>
                        </div>
                      <% end %>

                    <% elsif events[1].public_type == "meditation" %><!--  IT IS a MEDITATION EVENT -->
                      <%= link_to public_custom_show_path(events[1]), class: "no_link_effect" do %>
                        <div class="col-md-5 meditation_event_block">
                          <div class="row">
                            <h5 class="session_titles"> <%= events[1].title %></h5>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= events[1].start_time.strftime("%I:%M") %> - <%= events[1].end_time.strftime("%I:%M%p") %>
                            <% if events[1].time_slots > 4 %>
                              (<%= events[1].time_slots / 4.0 %>h)
                            <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 session_info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= events[1].room.name %></div>
                          </div>
                        </div>
                      <% end %>
                    <% end %><!-- Ends conditional for public type for second event -->


                  <% else %><!-- The is NOT a second event so add empty div-->
                    <div class='col-md-6'></div>
                  <% end %><!-- Ends conditional to check if second event -->
                </div><!-- End Row -->
              <% end %><!-- Ends slice 2 loop -->
            <% end %><!-- Ends check for 0, 1, 2 events per time-->
        <% end %><!-- End of Events -->
      </div>
    <% end %>

  </div><!-- Ends container div -->
  <div id="bottom-banner">
    <p id="bottom-banner-text"><i aria-hidden="true" class="fa fa-twitter"></i> <a href="https://twitter.com/internetff/" target="_blank">@InternetFF</a> | #InternetFF</p>
    <p id="BTT-button"><a href="#banner" id="back_button">Back to Top</a></p>
  </div>

</body>
