<head>
  <style>
    #navigation{
      display: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>You're in the Custom Show!</h1>
    <%= @event.title %>
    <%= @event.room.name %>
    <%= @event.other_presenters %>
    <%= @event.language %>
    <%= @event.event_type %>
    <%= @event.skill_level %>
    <%= @event.time_slots %>
    <%= @event.description %>
    <%= @event.target_audience_experience %>
    <%= @event.desired_outcome %>
    
<!-- Time
Room
Theme
Other Presenters
Language
Format
Skill Level
Session Duration
Description
Target Audience
Desired Outcome
Notes (figuring how we want to display this now)
pad.internetfreedomfestival.org/p/IDNUMBER
 -->
  </div>
</body>
