<p>
  Hello <%= @first_name %>,
</p>
<p>
  This is your official invite to attend the Internet Freedom Festival which will take place on April 1-5 in Valencia, Spain.
</p>
<p>
  This email does not guarantee you a ticket. To claim your ticket, please visit the following page and follow the instructions provided to confirm your spot:
  <br/>
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  Also, since we believe that you know other interesting folks that should come to the IFF, we are providing you with ticket invitations to send to anyone of your choice. To send out these invites, you must do so from your user portal on the IFF platform:
  <br/>
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  Once you invite an individual from your user portal, they will receive an email with detailed instructions on how to claim their ticket.
</p>
<p>
 The IFF continuously tries to innovate its processes to create a more secure, safer space. This is why we have changed our registration process this year, in our attempts to better verify who is attending. We apologize for any inconvenience these extra steps may cause.
</p>
<p>
  As a reminder, last year we ran out of space in 4 weeks, so please register as soon as possible. We look forward to seeing you in a few months!!!
</p>
<p>
  Lots of glitter,
</p>
<p>
  The IFF Team
</p>
<p>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  <br/>
  0xF60A89AD6FF97A2F
</p>
