.row
  .span16
    = render 'shared/simple_search', path: request.path
.row
  .span16
    - if collection.empty?
      %p Sorry, but your search yielded no results.
    - else
      = actions_bar do
        = will_paginate collection
      - if defined?(kind) && kind == :dif
        = render 'dif_table', collection: collection
      - else
        = render 'table', collection: collection
      = actions_bar do
        = will_paginate collection

