%section
  .page-header
    - if @open_schedule
      .pull-right
        =link_to "See our the upcoming schedule", public_schedule_path
    .pull-right
      =link_to "Return to your normal user portal", cfp_person_path(@person.id), class: "btn primary"
      =link_to "Public Schedule Test Environment", public_custom_path, class: "btn success"
    %h1 Welcome
  .row
    .span16
      - if @conference.rooms.count == 0
        .blank-slate
          %p
            Welcome, you seem to have just created this
            conference. A good first step would be to go
            to the <em>Conference Settings</em> tab above
            and add a room to this conference. This will
            be needed to schedule your program.
      - if @conference.events.count == 0 and @conference.call_for_participation.nil?
        .blank-slate
          %p
            This conference does not yet have any events.
            (Note that throughout the application, the
            generic term 'event' is used to refer to all
            sessions within your conference, no matter if
            they are talks, workshops, panels or something
            else entirely).
          %p
            Start adding events by clicking on the
            <em>Events</em> tab above. Or start a call for
            papers, to allow others to submit events for
            you to review.
  - if can? :manage, CallForParticipation
    .row
      .span16
        %h2
          Recent changes
          %small= link_to "more >>", recent_changes_path
        - if @versions.empty?
          .blank-slate
            %p
              Once you, or others start creating data for this
              conference, you will find who changed what here.
              This is especially interesting if you conduct a
              call for papers. In this case, this area allows
              you to quickly see if new submissions came in.
        - else
          = render "recent_changes/table"
          %p

  .row
    .span16
      %h2 Statistics
      %h3 PLATFORM

  .row
    .span8
      %h4 Users
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Metric
            %th Users
        %tbody
          %tr
            %td Total users
            %td= number_with_delimiter(@user_stats.total_users)

      %h4
        Professional Background
        %span{style: 'font-size: 0.75em'} (of users, can have more than one)
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Background
            %th Users
        %tbody
        - @user_stats.professional_backgrounds_breakdown.each do |background, users|
          %tr
            %td= background || "N/A"
            %td= number_with_delimiter(users)
    .span8
      %h4
        Country of Origin
        %span{style: 'font-size: 0.75em'} (of users)
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Country
            %th Users
        %tbody
        - @user_stats.countries_of_origin_breakdown.each do |country, users|
          %tr
            %td= country || "N/A"
            %td= number_with_delimiter(users)

  .row
    .span16
      %h3 CONFERENCE

  .row
    .span8
      %h4 Attendees
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Metric
            %th Attendees
        %tbody
          %tr
            %td Total attendees
            %td= number_with_delimiter(@attendee_stats.total_attendees)
          %tr
            %td Are new attendees
            %td= number_with_delimiter(@attendee_stats.new_attendees)
          %tr
            %td Are returning attendees
            %td= number_with_delimiter(@attendee_stats.returning_attendees)
          %tr
            %td Are interested in volunteer
            %td= number_with_delimiter(@attendee_stats.total_volunteers)
          %tr
            %td Have requested DIF
            %td= number_with_delimiter(@attendee_stats.total_requested_dif)
          %tr
            %td Have been granted DIF
            %td= number_with_delimiter(@attendee_stats.total_granted_dif)
          %tr
            %td Have not been granted DIF
            %td= number_with_delimiter(@attendee_stats.total_pending_dif)
          %tr
            %td Have applied to be presenters
            %td= number_with_delimiter(@attendee_stats.total_speakers)
          %tr
            %td Are confirmed presenters
            %td= number_with_delimiter(@attendee_stats.total_confirmed_speakers)

      %h4 Tickets
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Ticket type
            %th Attendees
        %tbody
        - @attendee_stats.ticket_types_breakdown.each do |ticket_type, attendees|
          %tr
            %td= ticket_type || "N/A"
            %td= number_with_delimiter(attendees)

      %h4
        Gender Balance
        %span{style: 'font-size: 0.75em'} (of attendees)
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Gender option
            %th Attendees
        %tbody
        - @attendee_stats.gender_options_breakdown.each do |gender, attendees|
          %tr
            %td= gender || "N/A"
            %td= number_with_delimiter(attendees)

      %h4
        Professional Background
        %span{style: 'font-size: 0.75em'} (of attendees, can have more than one)
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Background
            %th Attendees
        %tbody
        - @attendee_stats.professional_backgrounds_breakdown.each do |background, attendees|
          %tr
            %td= background || "N/A"
            %td= number_with_delimiter(attendees)

    .span8
      %h4
        Country of Origin
        %span{style: 'font-size: 0.75em'} (of attendees)
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Country
            %th Attendees
        %tbody
        - @attendee_stats.countries_of_origin_breakdown.each do |country, attendees|
          %tr
            %td= country || "N/A"
            %td= number_with_delimiter(attendees)

  .row
    .span8
      %h4 Sessions
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Metric
            %th Sessions
        %tbody
          %tr
            %td Proposed sessions
            %td= number_with_delimiter(@event_stats.total_events)
          %tr
            %td Accepted sessions
            %td= number_with_delimiter(@event_stats.total_accepted_events)
          %tr
            %td Confirmed sessions
            %td= number_with_delimiter(@event_stats.total_confirmed_events)
          %tr
            %td Confirmed sessions with DIF request
            %td= number_with_delimiter(@event_stats.confirmed_events_with_dif_request)
          %tr
            %td Confirmed sessions with granted DIF request
            %td= number_with_delimiter(@event_stats.confirmed_events_with_granted_dif_request)
          %tr
            %td Confirmed sessions with non-granted DIF request
            %td= number_with_delimiter(@event_stats.confirmed_events_with_pending_dif_request)
          %tr
            %td Confirmed sessions with first time presenters
            %td= number_with_delimiter(@event_stats.confirmed_events_with_first_time_speakers)
          %tr
            %td Confirmed sessions with returning presenters
            %td= number_with_delimiter(@event_stats.confirmed_events_with_returning_speakers)

      %h4 States
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} State
            %th Sessions
        %tbody
        - @event_stats.event_states_breakdown.each do |state, events|
          %tr
            %td= state || "N/A"
            %td= number_with_delimiter(events)

      %h4 Formats
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Format
            %th Sessions
        %tbody
        - @event_stats.confirmed_event_formats_breakdown.each do |format, events|
          %tr
            %td= format || "N/A"
            %td= number_with_delimiter(events)

      %h4 Themes
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Theme
            %th Sessions
        %tbody
        - @event_stats.confirmed_event_themes_breakdown.each do |theme, events|
          %tr
            %td= theme || "N/A"
            %td= number_with_delimiter(events)

      %h4 Presenters
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Metric
            %th Presenters
        %tbody
          %tr
            %td Presenter applications
            %td= number_with_delimiter(@event_stats.total_proposed_speakers)
          %tr
            %td Total presenters
            %td= number_with_delimiter(@event_stats.total_confirmed_speakers)
          %tr
            %td Presenters holding ticket
            %td= number_with_delimiter(@event_stats.confirmed_speakers_holding_ticket)
          %tr
            %td Presenters not holding ticket
            %td= number_with_delimiter(@event_stats.confirmed_speakers_not_holding_ticket)

      %h4
        Gender Balance
        %span{style: 'font-size: 0.75em'} (of presenters)
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Gender option
            %th Presenters
        %tbody
        - @event_stats.gender_options_breakdown_for_confirmed_speakers.each do |gender, presenters|
          %tr
            %td= gender || "N/A"
            %td= number_with_delimiter(presenters)

      %h4
        Professional Background
        %span{style: 'font-size: 0.75em'} (of presenters, can have more than one)
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Background
            %th Presenters
        %tbody
        - @event_stats.professional_backgrounds_breakdown_for_confirmed_speakers.each do |background, presenters|
          %tr
            %td= background || "N/A"
            %td= number_with_delimiter(presenters)

    .span8
      %h4
        Country of Origin
        %span{style: 'font-size: 0.75em'} (of presenters)
      %table.zebra-stripe
        %thead
          %tr
            %th{width: "70%"} Country
            %th Presenters
        %tbody
        - @event_stats.countries_of_origin_breakdown_for_confirmed_speakers.each do |country, presenters|
          %tr
            %td= country || "N/A"
            %td= number_with_delimiter(presenters)
