= simple_form_for(@event, html: {multipart: true}) do |f|
  %fieldset.inputs
    %legend Basic information
    %b Note to ADMIN:
    %p If you are trying to add/update special, social, or meditation events only use the title, time, public event type and description
    = f.input :title, label: "Session Title", hint: t("What is the title of your presentation?")
    <hr />
    .row
      %p{style: "margin-left: 3em"} Preferred Session Time
      .span8.offset2
        = f.collection_select :time_slots, [[1, "15 min"], [2, "30 min"], [3, "45 min"], [4, "1 hour"], [5, "1.25 hours"], [6, "1.5 hours"], [7, "1.75 hours"], [ 8, "2 hours"], [9, "2.25 hours"], [10, "2.5 hours"], [11, "2.75 hours"], [12, "3 hours"], [13, "3.25 hours"]], :first, :last
    <hr>
    .row
      %p{style: "margin-left: 3em"} Public Event Type
      .span8.offset2 
        = f.collection_select :public_type, [[nil, "Normal Event"], ["special", "special"], [ "social", "social"], ["meditation", "meditation"], ["private", "private"] ], :first, :last
    <hr />
    .row{style: "border-bottom: dotted"}
      = f.input :description, label: "Session Description", hint: t("Describe what your presentation will be about.")
    <br />
    = f.input :other_presenters
    = f.input :subtitle
    = f.input :event_type, collection: Event::TYPES
    = f.association :track, collection: @conference.tracks
    = f.input :language, as: :language_select, only: @conference.language_codes
    = f.input :public, as: :inline_boolean, hint: "Is this event visible in the public schedule?"
  %fieldset.inputs
    %legend Time and place
    = f.input :start_time do
      = f.select :start_time, grouped_options_for_select(@start_time_options, @event.start_time), { include_blank: true }
    = f.association :room, collection: @conference.rooms
  %fieldset.inputs
    %legend Detailed description
    = f.input :abstract, input_html: {rows: 4}, hint: "One short paragraph that succinctly describes the event. (HTML)"
  %fieldset.inputs
    %legend Notes
    = f.input :note, input_html: {rows: 2}, hint: "visibility: admin only."
    = f.input :submission_note, input_html: {rows: 2}, hint: "visibiliy: admin and user; additional information."
  .actions
    = f.button :submit, class: 'primary'
