= simple_form_for([:cfp, @event], html: {multipart: true}) do |f|
  %fieldset.inputs
    %legend= t("cfp.basic_information")
    = f.input :title, hint: t("What is the title of your presentation?")
    = f.input :other_presenters, collection: @public_names, as: :select, hint: t("Is there someone else who is going to presenting with you? Find them by their public name.")
    = f.association :track, label: "Theme", collection: @conference.tracks
    = f.input :description, hint: t("Describe what your presentation will be about.")
    = f.input :target_audience_experience, label: "Target Audience", hint: t("Who is this session for? / Who is your target audience?")
    = f.input :desired_outcome, label: "Desired Outcome", hint: t("What outcomes would you like your session to have?")
    = f.input :language, as: :language_select, only: @conference.language_codes, include_blank: true
    = f.input :skill_level, hint: "How technically difficult is your presentation? 1 being very easy to understand, 10 requiring a deep level of understanding about the topic", collection: ["Beginner", "Intermediate", "Advanced"], error: " "
    = f.input :event_type, collection: translated_options(Event::TYPES)
    = f.input :time_slots, as: :select, collection: timeslots, hint: t("cfp.event_time_slots_hint")
    .row
      .span8
        %p{style: "margin-left: 60px"} Travel Assistance
        = f.collection_radio_buttons :travel_assistance, [[true, "Yes"], [false, "No"]], :first, :last
    / = f.input :subtitle
  / %fieldset.inputs
  /   %legend= t("cfp.detailed_description")
  /   = f.input :abstract, input_html: {rows: 4}, hint: t("cfp.event_abstract_hint")
  /   = f.input :submission_note, hint: t("cfp.submission_note_hint")
  /   = dynamic_association :links, t("cfp.links"), f
  /   = dynamic_association :event_attachments, t("cfp.uploaded_files"), f
  - if @new
    .actions
      = f.button :submit, class: 'primary', value: "Create Proposal"
  -if @edit
    .actions
      = f.button :submit, class: 'primary', value: "Update Proposal"
