= simple_form_for([:cfp, @event], html: {multipart: true, id: 'cfp_form'}) do |f|
  %h3 Please, read the following instructions thoroughly before submitting your proposal.
  <hr />
  %h3 1. As a presenter, you should:
  .row
    %ul
      .span16{style: "line-height: 22px; padding: 10px; width: 922px;"}
        %li{style: "color: black; margin-left: 10px; margin-right: 50px;"} Lead session(s) that will advance Internet Freedom by triggering important conversations and/or help community members gain new knowledge, skills, or expertise.
      .span16{style: "line-height: 22px; padding: 10px; width: 922px;"}
        %li{style: "color: black; margin-left: 10px; margin-right: 50px;"} Follow the format template provided and encourage the use of the IFF session role cards.
      .span16{style: "line-height: 22px; padding: 10px; width: 922px;"}
        %li{style: "color: black; margin-left: 10px; margin-right: 50px;"} Respect diversity of opinions, experiences and backgrounds. Please review our <a href="https://internetfreedomfestival.org/wiki/index.php/Code_of_Conduct">Code of Conduct</a>
      .span16{style: "line-height: 22px; padding: 10px; width: 922px;"}
        %li{style: "color: black; margin-left: 10px; margin-right: 50px;"} Foment collaboration by inviting different projects or individuals to work on your proposed session(s).
      .span16{style: "line-height: 22px; padding: 10px; width: 922px;"}
        %li{style: "color: black; margin-left: 10px; margin-right: 50px;"} Foster new connections between participants.
      .span16{style: "line-height: 22px; padding: 10px; width: 922px;"}
        %li{style: "color: black; margin-left: 10px; margin-right: 50px;"} Design your session(s) to fit under one of the IFF’s Themes.
      .span16{style: "line-height: 22px; padding: 10px; width: 922px;"}
        %li{style: "color: black; margin-left: 10px; margin-right: 50px;"} Limit your session time to 45 minutes, and your workshops to 90 minutes.
  <hr />
  %h3 2. Learn about the 2019 IFF Themes:
  .row
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 **On the Frontlines**
      %p This theme creates a space for individuals on the frontlines, with two specific goals in mind: providing them with the skills and knowledge they need to stay safe online, and an opportunity to share regional experiences about current and upcoming surveillance and censorship challenges.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 **Making Better Tech**
      %p The Making Better Tech theme is a space for the technologists that are driving the next generation of security and privacy tools. The theme is geared towards sharing knowledge on improving existing tools, supporting the collaborative development of solutions to real-world technical problems, collectively tackle known obstacles and help the community strategize on how to work better, together.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 **Training and Best Practices**
      %p The Training and Best Practices theme creates a space for trainers, practitioners, researchers and techies working with risk management, digital security, and holistic privacy human-centered capacity building. From sharing effective tools and customized teaching practices and solutions, to addressing shared challenges and strengthening community support and fostering feedback exchange with tool developers.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 **Internet Freedom: Present and Future**
      %p How should the future of the Internet Freedom space look? How can we get there from here? The Internet Freedom: Past, Present and Future theme provides the community with an opportunity to collectively create a vision and roadmap future opportunities, and tackle some of overarching issues and concerns.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 **Healthier Networks and Organizations**
      %p The Healthier Networks and Organizations theme provides a space to tackle common problems that prevent entities in the Internet Freedom space from better serving their constituents. In addition, common good projects or FLOSS tools needing help with their strategy can opt to present their project and receive collaborative feedback and recommendations from IFF participants.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 **Advocacy, Policy and Research**
      %p Only through collaboration can we achieve social and political change. The Advocacy, Policy and Research theme addresses how the Internet Freedom communities can facilitate civic engagement and collective action for better policies worldwide, and how actors from other fields can take an active part in the conversation
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 **Journalism, Media and Communications**
      %p The Journalism, Media and Communications theme creates a space for journalists, media organizations, designers and communications professionals to better assess the risks and threats to their work in an increasingly hostile global environment.
  <hr />
  %h3 3. Session Formats
  .row
    .span16{style: "line-height: 22px; width: 922px;"}
      %p Sessions should help foment collaboration and advance Internet Freedom. Templates will be provided for each type of talk once sessions have been selected.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 Collaborative Talk
      %p Facilitate a conversation between participants on a specific topic.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 Workshop
      %p A practical, hands-on session that provides participants with a specific skill set or expertise.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 Panel Discussion
      %p Several speakers sharing their point of view around one topic.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 Feature
      %p A session where urgent or important information is shared with participants.
    .span16{style: "line-height: 22px; width: 922px;"}
      %h5 Feedback
      %p Present a project or tool to get feedback from participants.
    .span16
      %p{style: "margin-top: 10px; margin-right: 26rem; background: #e6e2d3;"}
        - if @edit
          %input{name: "event[instructions]", type: 'checkbox', value: 'true', style: "margin: 3px 6px;", checked: 'checked'}
        - else
          %input{name: "event[instructions]", type: 'checkbox', value: 'true', style: "margin: 3px 6px;"}
        - if @event.errors.messages.key?(:instructions)
          %span.error= @event.errors.messages[:instructions].first
        %b I have read the instructions above and I will follow them to complete this form


  %fieldset.inputs
    .offset1
      .row
        %h2{style: "margin: 25px;"} Session Submision Form
        .span24{style: "line-height: 22px; padding: 10px; width: 922px;"}
          = f.input :title, label: "Session Title"
          = f.input :subtitle, label: "Goal of the session", hint: "Describe it in just a sentence."
          = f.input :description, label: "Session Description"
          = f.input :other_presenters, type: "email", label: "Other presenters in this session", hint: "Enter the email addresses they used to register in the platform. You may add other presenters later."
          = f.input :public_type, label: "Who is this session for?", hint: "Describe the target audience for this session. Who would you like to see in the room? Who would benefit the most from your session?"
          = f.input :desired_outcome, label: "What outcomes do you envision for this session?"
          = f.input :phone_number, label: "Contact Phone", type: "tel", hint: "We want to be in touch with you for scheduling purposes. Share the number you use for Signal/Whatsapp/SMS. Please include the country prefix (e.g., 0034)."
          = f.association :track, label: "Session Format", collection: @conference.tracks
          = f.input :event_type, label: "Choose the IFF Theme that better represents your session", collection: Event::TYPES

          %p
            %abbr{title: 'required'} *
            We discourage the use of projectors. Having said that, do you need a projector?
          - if @event.errors.messages.key?(:projector)
            %span.error= @event.errors.messages[:projector].first
          %div.input
            %ul.inputs-list
              = f.collection_radio_buttons(:projector, [[true, "Yes"], [ false, "No"]], :first, :last, {boolean_style: :inline}) do |r|
                %li
                  =r.label do
                    = r.radio_button
                    %span= r.text
          %br
          %p
            %abbr{title: 'required'} *
            Have you presented at IFF before?
          - if @event.errors.messages.key?(:iff_before)
            %span.error= @event.errors.messages[:iff_before].first
          %div.input
            %ul.inputs-list
              = f.collection_check_boxes(:iff_before, [["2015", "2015"], ["2016", "2016"], ["2017", "2017"], ["2018", "2018"], ["Not yet!", "Not yet!"]], :first, :last, {boolean_style: :inline}) do |c|
                %li
                  =c.label do
                    = c.check_box
                    %span= c.text

          %br
          %br

            .span16
              %b Diversity and Inclusion Program for Session Presenters
            .span16
              %p{style: "margin-top: 10px; margin-right: 26rem;margin-left: 7px;"}
                = f.check_box :travel_assistance, id: :travel
                I need travel support to attend the 2019 IFF.

            .span16{hidden: "hidden", id: "dif_form", style: "width: 55rem; margin-top: 2rem;"}
              %div
              At the IFF we work very hard to raise funds to ensure that voices from underrepresented and marginalized groups have more opportunities to be heard. Because of the huge demand for support, we ask that you don’t request more than what you need to attend– for some, this stipend is the only opportunity they have to participate. If you have other options to support your participation, we encourage you to explore them early on in order to secure your attendance.
              %br
              .span24{style: "margin-top: 50px;"}
                %p
                *Which underrepresented group(s) do you belong to?
                = f.input :group, label: false
                %br
                %br

              .span24
                %p
                Only one presenter per session can be awarded a travel stipend. For sessions with more than one presenter, who should be the recipient of the stipend?
                = f.input :recipient_travel_stipend, label: false
                %br
                %br

                %p
                  Please choose the type of travel support you need:
                %div.input
                  %ul.inputs-list
                    = f.collection_check_boxes(:travel_support, [["Hotel", "Hotel"], ["Flight", "Flight"], ["Daily Per Diem", "Daily Per Diem"]], :first, :last, {boolean_style: :inline}) do |c|
                      %li
                        =c.label do
                          = c.check_box
                          %span= c.text

                  %br
                  %br

                %p
                  %abbr{title: 'required'} *
                  Have you been awarded a travel stipend from the IFF in the past?
                - if @event.errors.messages.key?(:past_travel_assistance)
                  %span.error= @event.errors.messages[:past_travel_assistance].first
                %div.input
                  %ul.inputs-list
                    = f.collection_check_boxes(:past_travel_assistance, [["2017", "2017"], ["2018", "2018"], ["No", "No"]], :first, :last, {boolean_style: :inline}) do |c|
                      %li
                        =c.label do
                          = c.check_box
                          %span= c.text
                  %br
                  %br

                %p{style: "margin-top: 10px; margin-right: 26rem; width: 900px"}
                  %input{name: "event[understand_one_presenter]", type: 'checkbox', value: 'true', style: "margin: 3px 6px;"}
                  I understand that only one presenter per session will be awarded a travel stipend
                - if @event.errors.messages.key?(:understand_one_presenter)
                  %span.error= @event.errors.messages[:understand_one_presenter].first

                %p{style: "margin-top: 10px; margin-right: 26rem; width: 900px"}
                  %input{name: "event[confirm_not_stipend]", type: 'checkbox', value: 'true', style: "margin: 3px 6px;"}
                  I confirm that I am not getting a stipend to participate in the IFF from another organization
                - if @event.errors.messages.key?(:confirm_not_stipend)
                  %span.error= @event.errors.messages[:confirm_not_stipend].first

                %br
                %br

          .span16{style: "margin-top: 10px; margin-right: 26rem; background: #e6e2d3; width: 833px; margin-left: 6px;"}
            %p
            - if @edit
              %input{name: 'event[code_of_conduct]', type: 'checkbox', value: 'true', checked: 'checked' }
            - else
              %input{name: 'event[code_of_conduct]', type: 'checkbox', value: 'true'}
            *I agree to respect and follow
            %a{href: 'https://internetfreedomfestival.org/wiki/index.php/Code_of_Conduct'} IFF’s Code of Conduct.
            We are committed to providing a safe and welcoming environment.
            All participants are encouraged to approach the event with open and positive attitudes, and to engage constructively with others at all times.
            - if @event.errors.messages.key?(:code_of_conduct)
              %span.error= @event.errors.messages[:code_of_conduct].first

      %br
      %br
      .row
        .span24
          - if @new
            = f.button :submit, class: 'primary', value: "Create Proposal"
          - if @edit
            = f.button :submit, class: 'primary', value: "Update Proposal"
