= simple_form_for([:cfp, @event], html: {multipart: true}) do |f|
  %fieldset.inputs
    %legend= t("cfp.basic_information")
    = f.input :title, label: "Session Title", hint: t("What is the title of your presentation?")
    = f.input :other_presenters, label: "Other Presenters", hint: t("Is there someone else who is going to presenting with you? Please add their public name here.")
    %p{style: "margin-left: 30px;"} (Here's a list of our registered public names you can add)
    = @public_names
    <hr />
    = f.input :event_type, label: "Session Format", collection: translated_options(Event::TYPES)
    = f.input :language, as: :language_select, only: @conference.language_codes, include_blank: true
    = f.association :track, label: "Theme", collection: @conference.tracks
    = f.input :skill_level, collection: ["Beginner", "Intermediate", "Advanced"], error: " "
    = f.input :description, hint: t("Describe what your presentation will be about.")
    = f.input :target_audience_experience, label: "Target Audience", hint: t("Who is this session for? / Who is your target audience?")
    = f.input :desired_outcome, label: "Desired Outcome", hint: t("What outcomes would you like your session to have?")
    /= f.input :time_slots, collection: [[4, "1 Hour"],[ 8, "2 Hours"]], :first, :last
    .row
      .span8
        %p{style: "margin-left: 60px"} Travel Assistance
        = f.collection_radio_buttons :travel_assistance, [[true, "Yes"], [false, "No"]], :first, :last
    / = f.input :subtitle
  / %fieldset.inputs
  /   %legend= t("cfp.detailed_description")
  /   = f.input :abstract, input_html: {rows: 4}, hint: t("cfp.event_abstract_hint")
  /   = f.input :submission_note, hint: t("cfp.submission_note_hint")
  /   = dynamic_association :links, t("cfp.links"), f
  /   = dynamic_association :event_attachments, t("cfp.uploaded_files"), f
  - if @new
    .actions
      = f.button :submit, class: 'primary', value: "Create Proposal"
  -if @edit
    .actions
      = f.button :submit, class: 'primary', value: "Update Proposal"
