%section
  .page-header
    %h1 Event: #{@event.title}
  %ul.tabs
    %li= link_to "Event Details", @event
    %li= link_to "People", people_event_path(@event)
    %li.active= link_to "Ratings", event_event_rating_path(@event)
    %li= link_to "Feedback", event_event_feedbacks_path(@event)
  #full_description
    .row
      .span16
        %p
          %em= @event.subtitle
    .row
      .span16
        %p
          %b Speakers:
          %table.zebra-striped
            %tbody
              - @event.speakers.each do |person|
                %tr
                  %td= link_to person.full_name, person
                  %td
                    / %b Average feedback as speaker:
                    / - if average_feedback = person.average_feedback_as_speaker
                    /   = sprintf("%.2f / 5.0", average_feedback)
                    / - else
                    /   no data
    .row
      .span8
        %p
          %b Title:
          = @event.title        
        %p
          %b Other Presenters:
          = @event.other_presenters
        %p
          %b Theme:
          = @event.event_type
        %p
          %b Format:
          = @event.track.try(:name)
        %p
          %b Language:
          = @event.language
        %p
          %b Skill Level:
          = @event.skill_level
        %p
          %b Event Duration in Hours:
          = @event.time_slots / 4
        %h3 Description:
        = simple_format @event.description
        %p
          %b Target Audience:
          = @event.target_audience_experience
        %p
          %b Desired Outcome:
          = @event.desired_outcome 
        %p
          %b Presented at IFF Before?:
          = @event.iff_before      
    / .row
    /   .span6
    /     %p
    /       %b Abstract:
    /       %br/
    /       = simple_format @event.abstract
    /     - if @event.links
    /       %p
    /         %b Links:
    /         %br/
    /         - @event.links.each do |link|
    /           = link_to link.title, link.url
    /           %br/
    /     - unless @event.event_attachments.is_public.empty?
    /       %p
    /         %b #{t('publich.schedule.files')}:
    /         %br/
    /         - @event.event_attachments.is_public.each do |attachment|
    /           = link_to attachment.link_title, attachment.attachment.url
    /           %br/
  .row
    .span16
      %h2 My rating
      %h4 When rating a session, please always consider:
      %ul
        %li Does it adhere to the presentation guidelines?
        %li Does it adequately address the theme it’s submitted under?
        %li Are the purpose and desired outcome clearly defined?
        %li Is it inclusive and accessible to many?
        %li Are the proposed length and format reasonable?
        %li Does it demonstrate and support collaboration and coordination?
        %li Is it interesting?
  
      = simple_form_for @rating, url: event_event_rating_path do |f|
        %fieldset.inputs
          = f.input :rating, as: :rating
          = f.input :comment, input_html: {rows: 3}
        .actions
          = f.button :submit, "Submit Event Rating", class: 'success'
          - if @next_event
            = action_button "primary", "Rate Next Event", event_event_rating_path(@next_event), hint: "Proceed to rate the next event."
  .row
    .span16
      %h2 All ratings
      - if @event_ratings.nil? or @event_ratings.count == 0
        .blank-slate
          %p
            No one has entered a rating for this event yet. Be the first
            and rate the event using the form above.
      - else
        %p
          %b Total:
          %span#total_rating
            = raty_for("total_rating", @event.average_rating)
        - if @event_ratings.count >= 1
          %table.zebra-striped
            %thead
              %tr
                %th
                %th User
                %th Rating
                %th Comment
                %th Action
            %tbody
              - @event_ratings.each do |event_rating|
                - if can? :manage, event_rating
                  - event_rating.person = Person.new if event_rating.person.nil?
                  %tr
                    %td
                    %td=event_rating.person.full_name
                    %td
                      = raty_for("event_rating_#{event_rating.id}", event_rating.rating)
                    %td=event_rating.comment
                    - if event_rating.person_id == current_user.person.id || current_user.role == "admin"
                      %td= link_to "Delete", event_event_rating_path(@event, event_rating_id: event_rating.id), method: :delete, :data => {:confirm => "Are you absolutely sure you want to delete this Rating? This will be final!"}, class: "btn danger"
