<p>
  Hi <%= @first_name %>,
</p>
<p>
  Rejoice! You now hold an IFF Ticket!
</p>
<p>
  ******************** 2019 IFF Ticket ********************
    IFF ID: <%= @id %>
    Public Display Name: <%= @public_name %>
    Preferred Gender Pronoun: <%= @gender_pronoun %>
  ***********************************************************

    Attending:
    <%= @iff_days %>
  ***********************************************************
    IFF Venue Details:
    Las Naves
    Calle de Juan Verdeguer 16,
    46024 – Valencia (Spain)
    <a href="www.lasnaves.com">www.lasnaves.com</a></br>
    +34 963 910 477
  ***********************************************************
</p>
<p>
  Please don’t print this email, but make sure to save it. You will need to show it at the door so
  we can check you in.
</p>
<p>
  Wanna start meeting the community attending the 2019 IFF? Go to your user portal to learn
  more about the different platforms to connect with the IFF Community:
</p>
<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  We also invite you to read our Code of Conduct carefully.
</p>
<p>
  We’re looking forward to seeing you in Valencia!
</p>
<p>
  The IFF Team
</p>
<p>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a></br>
  0xF60A89AD6FF97A2F
</p>
