<p>
  Hi <%= @first_name %>,
</p>

<p>
  Rejoice! You now hold an IFF Ticket!
</p>

<p>
  ******************** <%= @conference.alt_title %> Ticket **********************<br>
  + IFF ID: <%= @person_id %><br>
  + Ticket ID: <%= @ticket_id %><br>
  + Public Display Name: <%= @public_name %><br>
  + Preferred Gender Pronoun: <%= @gender_pronoun %><br>
  ***********************************************************<br>
  Attending:<br>
  <% @iff_days.each do |day| %>
  <%= day %><br>
  <% end %>
  ***********************************************************
</p>

<p>
  IFF Venue Details:
</p>

<p>
  Las Naves<br>
  Calle de Juan Verdeguer 16,<br>
  46024 - Valencia (Spain)<br>
</p>

<p>
  <a href="www.lasnaves.com">www.lasnaves.com</a><br>
  +34 963 910 477<br>
  ***********************************************************
</p>

<p>
  Please don't print this email, but make sure to save it. You will need to show it at the door so
  we can check you in.
</p>

<p>
  Wanna start meeting the community attending the <%= @conference.alt_title %>? Go to your user portal to learn
  more about the different platforms to connect with the IFF Community:
</p>

<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>

<p>
  We also invite you to read our <a href="https://internetfreedomfestival.org/wiki/index.php/Code_of_Conduct">Code of Conduct</a> carefully.
</p>

<p>
  We're looking forward to seeing you in Valencia!
</p>

<p>
  The IFF Team
</p>

<p>
  <%= @conference.alt_title %>: Valencia (Spain), April 1 - 5
  <br/>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  <br/>
  0xF60A89AD6FF97A2F
</p>
