= simple_form_for(@person, url: register_ticket_path(id: @invited.id, conference_acronym: @conference.acronym), html: {method: 'post', multipart: true, id: 'register_ticket'}) do |f|
  %fieldset.inputs
  .row
    .offset1
      %h1 2019 IFF Ticket
      %br
      .span24
        = f.input :public_name, hint: "This is the name that will be displayed in your badge."
        = f.input :gender_pronoun, collection: Person::GENDER_PRONOUN
        %div.input.help-block
          Your public gender pronoun will be displayed in your badge. Pronoun list written by
          %a{href: 'https://twitter.com/morganastra'} @morganastra.
          Visits
          %a{href: 'https://pronoun.is/'} https://pronoun.is/
          for more information.
        %br
          %p * Have you attended the IFF before?
          %div.input
            %ul.inputs-list
              - Person::IFF_BEFORE.each do |iff|
                %li
                  %label
                    %input{name: 'person[iff_before][]', type: 'checkbox', value: iff.last }
                    %span= iff.first
        %br
          %p * What are your main goals for attending the 2019 IFF?
          %div.input
            %ul.inputs-list
              - Person::GOALS.map{ |value| [value, value] }.each do |goals|
                %li
                  %label
                    %input{name: 'person[iff_goals][]', type: 'checkbox', value: goals.last }
                    %span= goals.first
        %br
          %p * Would you like to hear more about our awesome volunteering opportunities?
          %br
          = f.input :interested_in_volunteer, :collection => [['Yes, sounds fun!', true], ['No, thank you', false]], label: false, default: 0,  hint: "Volunteering is a great way to meet people outside of your usual circles!"

        %br
          %p * Which days are you planning to attend?
          %div.input
            %ul.inputs-list
              - Person::IFF_DAYS.each do |days|
                %li
                  %label
                    %input{name: 'person[iff_days][]', type: 'checkbox', value: days.last }
                    %span= days.first
      %br
        %p
        *I agree to respect and follow
        %a{href: 'https://internetfreedomfestival.org/wiki/index.php/Code_of_Conduct'} IFF’s Code of Conduct.
        We are committed to providing a safe and welcoming environment.
        All participants are encouraged to approach the event with open and positive attitudes, and to engage constructively with others at all times.
        %input{name: 'person[code_of_conduct][]', type: 'checkbox', value: 'true'}


  .actions
    = f.button :submit, value: 'Register', class: 'primary'
    = link_to "Cancel", :back, class: "btn"
