= simple_form_for(@person, url: cfp_person_path, html: {multipart: true, id: "register_form"}) do |f|
  %fieldset.inputs
    .row
      .offset1
        %h2 User Registration Form
        %hr{style: "max-width: 51rem; border-bottom: 5px solid #eee;"}
          %br
          .span24
            %br
              %p The information provided in this form will remain private. None of it will be shared with other participants.
            %br
          .span24
            = f.input :email, label: "Contact Email"
            = f.input :email_confirm, label: "Confirm Contact Email"
            = f.input :first_name, label: "* First Name"
            = f.input :last_name, label: "Last Name"
            = f.input :pgp_key, label: "PGP Key", as: :string, hint: "Preferable format: 0xf60a89ad6ff97a2f"
            = f.input :gender, collection: translated_options(Person::GENDERS), label: "* Gender"
            = f.input :country_of_origin, label: "* Country of Origin", collection: translated_options(Person::COUNTRIES), error: " "

          %br
          .span24
            %p Do you identify as part of an ethnic, racial or cultural minority group?
            %br
              = f.input :group, collection: [[''], ['Yes', true], ['No', false]], default: 0, label: false
          .span24
            %p * Check the boxes that most closely describe the work you do
            %div.input
              %ul.inputs-list
                - Person::PROFESSION.each do |work|
                  %li
                    %label
                      %input{name: 'person[professional_background][]', type: 'checkbox', value: work.last }
                      %span= work.first
          %br
          .span24
            %br
              = f.input :other_background, label: "Professional Title"
              = f.input :organization
              = f.input :project, as: :text
            %br
              %p * Would you like to subscribe to the IFF Mailing List? Don’t miss important updates and opportunities!
              = f.input :include_in_mailings, as: :radio_buttons, collection: [[true, "Yes, keep me updated!"], [false, "No, thanks"]], label_method: :second, value_method: :first, label: false
            %br
              %p * Would you like to receive a Mattermost invite? Like Slack, but open source! A great way to connect with the IFF community.
              = f.input :invitation_to_mattermost, as: :radio_buttons, collection: [[true, "Yes, I want an invite"], [false, "No, thanks"]], label_method: :second, value_method: :first, label: false
          %br
          .span24
            %br
            -if @first_time
              = f.button :submit, class: 'primary', value: "Register to Attend the 2018 IFF"
            -else
              = f.button :submit, class: 'primary', value: "Update your Registration for the 2018 IFF"
