%section
  .page-header{style: "border-bottom: 2px solid; margin: 10px;"}
    .pull-right
    - if @is_old_account
      %p.alert-message Please update your registration information in order to request an invite to the #{@conference.alt_title}.

    %div{style: "float: right; clear: both; margin-top: 5px"}
      - if @is_fellow || current_user.is_admin?
        = link_to "Go to Fellow Admin", conference_home_path, class: "btn primary"

    %div{style: "float: right; margin-top: 76px"}
      = action_button "primary", "Edit Profile", edit_cfp_person_path
      = action_button "primary", "Edit Account", edit_cfp_user_path

    =image_tag "iff-logos.png", :style => "max-width: 20em; margin-bottom: 25px; margin-left: 10px;"
    %h2{style: "margin-left: 20px;"} User Portal

  - if @is_old_account
    .row{style: "margin: 10px;"}
      .span7{style: "margin-bottom: 10px; margin-left: 18px;"}
        %div
          %h3 Submit a Session for the #{@conference.alt_title}
          %p{style: "font-weight: bold;"} The Call for Proposals is now open! Send your sessions by #{@conference.call_for_participation.end_date.strftime('%B %d, %Y')}.
          %p Please update your profile in order to submit a session proposal for the #{@conference.alt_title}.
          %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
            = action_button "primary", "Edit Profile", edit_cfp_person_path, style: "margin: 10px"

    .span16{style: "border-top: 2px solid; margin-bottom: 20px;"}

    .row{style: "margin:10px;"}
      .span7{style: "margin-bottom: 10px; margin-left: 18px;"}
        %div
          %h3 Claim your #{@conference.alt_title} Ticket
          - if @attendance_status&.registered?
            %p We have implemented a request-based IFF ticket system to provide a safer and more diverse space, and meet the growing demand.
            %p Your IFF Ticket is confirmed! No need to print it out, but be ready to show it when we check you in.
            %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
              = action_button "success", "View Ticket", view_ticket_path(id: @invitation.id, conference_acronym: @conference.acronym), :style => "margin: 10px;"
          - elsif @attendance_status&.invited?
            %p We have implemented a request-based IFF ticket system to provide a safer and more diverse space, and meet the growing demand.
            %p{style:"font-weight: bold;"} You have been invited to claim an IFF Ticket!
            %p Please update your user profile to access the ticketing form.
            %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
              = action_button "primary", "Edit Profile", edit_cfp_person_path, style: "margin: 10px"
          - else
            %p We have implemented a request-based IFF ticket system to provide a safer and more diverse space, and meet the growing demand.
            %p{style: "font-weight: bold;"} You will be able to request an IFF Ticket starting December 10!
            %p Please update your user profile to access the ticketing form.
            %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
              = action_button "primary", "Edit Profile", edit_cfp_person_path, style: "margin: 10px"

  - else
    .row
      .span7{style: "margin-bottom: 30px; margin-left: 36px;"}
        %div{style: "margin:10px;"}
          %h3{style: "font-weight: bold;"} Claim your #{@conference.alt_title} Ticket
          - if @attendance_status&.registered?
            %p Your IFF Ticket is confirmed! No need to print it out, but be ready to show it when we check you in.
            %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
              = action_button "success", "View Ticket", view_ticket_path(id: @invitation.id, conference_acronym: @conference.acronym), :style => "margin: 10px;"
          - elsif @attendance_status&.invited?
            %p We have implemented a request-based IFF ticket system to provide a safer and more diverse space, and meet the growing demand.
            %p{style: "font-weight: bold;"} You have been invited to claim an IFF Ticket!
            %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
              - if @conference.in_the_past?
                = action_button "", "Claim IFF Ticket", '#', style: "margin: 10px; background: grey; color: white; font-weight: 100", disabled: 'disabled'
              - else
                = action_button "success", "Claim IFF Ticket", ticketing_form_path(id: @invitation.id, conference_acronym: @conference.acronym), :style => "margin: 10px;"
          - elsif @attendance_status&.requested?
            %p We have implemented a request-based IFF ticket system to provide a safer and more diverse space, and meet the growing demand.
            %p Once your request is reviewed, you will receive an email with instructions on how to claim your #{@conference.alt_title} Ticket.
            %p{style: "font-weight: bold;"} Your ticket request has been received!
            %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
              = action_button "", "Claim IFF Ticket", '#', style: "margin: 10px; background: grey; color: white; font-weight: 100", disabled: 'disabled'
          - elsif @attendance_status&.on_hold?
            %p We have implemented a request-based IFF ticket system to provide a safer and more diverse space, and meet the growing demand.
            %p Once your request is reviewed, you will receive an email with instructions on how to claim your #{@conference.alt_title} Ticket.
            %p{style: "font-weight: bold;"} Your ticket request is currently on hold.
            %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
              = action_button "", "Claim IFF Ticket", '#', style: "margin: 10px; background: grey; color: white; font-weight: 100", disabled: 'disabled'
          - else
            / %p We have implemented a request-based IFF ticket system to provide a safer and more diverse space, and meet the growing demand.
            / %p Once your request is reviewed, you will receive an email with instructions on how to claim your #{@conference.alt_title} Ticket.
            / %p{style: "font-weight: bold;"} You will be able to request an IFF Ticket starting December 10!
            / %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
            /   = action_button "", "Request IFF Ticket", '#', style: "margin: 10px; background: grey; color: white; font-weight: 100", disabled: 'disabled'
            = form_tag(request_invitation_cfp_person_path, id: 'request_invitation') do
              %p We have implemented a request-based IFF ticket system to provide a safer and more diverse space, and meet the growing demand.
              %p Once your request is reviewed, you will receive an email with instructions on how to claim your #{@conference.alt_title} Ticket.
              %p{style: "font-weight: bold;"} Request your ticket now!
              %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
                = submit_tag('Request IFF Ticket', class: "btn success", style: "margin: 10px;")

      .span8{style: "margin-bottom: 30px;"}
        %div{style: "margin:10px;"}
        - if @person.allowed_to_send_invites?(@conference)
          %h3 Invite others to claim an IFF ticket
          %p{style:"font-weight: bold;"} Only invited users will be able to claim an IFF Ticket.
          %p You have the chance to invite others to claim their ticket.
          %p Please note that invites are not tickets! Invited users will receive an email with detailed instructions on how to claim their IFF Ticket.

          = form_tag(cfp_send_invitation_path, id: 'invitations-form') do
            %p
              You have
              %b= @invites
              invites remaining.
            = text_field_tag(:email, '', placeholder: 'email')
            %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
              - if @conference.in_the_past?
                = action_button "", "Send", '#', style: "margin: 10px; background: grey; color: white; font-weight: 100", disabled: 'disabled'
              - else
                = submit_tag('Send', class: "btn success", style: 'margin: 10px;')

  - if @person.late_event_submit
    .span16{style: "border-top: 2px solid; margin-bottom: 20px;"}
    .row
      .span7{style: "margin-bottom: 30px; margin-left: 36px;"}
        %div{style: "margin:10px;"}
          %h3 Submit a Session for the #{@conference.alt_title}
          %p{style: "font-weight: bold;"} The #{@conference.alt_title} Global Call for Proposals is exceptionally open for late submissions!
          %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
            = action_button "primary", "Submit a Session", new_cfp_event_path(user: @user, conference_acronym: @conference.acronym), style: "margin: 10px;"


  - if FeatureToggle.cfp_enabled? and !@is_old_account and !@conference.in_the_past?
    .span16{style: "border-top: 2px solid; margin-bottom: 20px;"}
    .row
      .span7{style: "margin-bottom: 30px; margin-left: 36px;"}
        %div{style: "margin:10px;"}
          %h3 Submit a Session for the #{@conference.alt_title}
          %p{style: "font-weight: bold;"}
            - if FeatureToggle.self_sessions_enabled?
              The #{@conference.alt_title} is now open for Self-Organized session proposals! Send them by #{@conference.call_for_participation.hard_deadline.strftime('%B %d, %Y')}.
            - else
              The #{@conference.alt_title} Global Call for Proposals is now open! Send your sessions by #{@conference.call_for_participation.end_date.strftime('%B %d, %Y')}.
          %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
            = action_button "primary", FeatureToggle.self_sessions_enabled? ? "Submit a Self-Organized Session" : "Submit a Session", new_cfp_event_path(user: @user, conference_acronym: @conference.acronym), style: "margin: 10px;"
  - else
    .span16{style: "border-top: 2px solid; margin-bottom: 20px;"}
    .row
      .span7{style: "margin-bottom: 30px; margin-left: 36px;"}
        %div{style: "margin:10px;"}
          %h3 Submit a Session for the #{@conference.alt_title}
          %p{style: "font-weight: bold;"} The #{@conference.alt_title} Call for Proposals is now closed. Thank you all!
          %p{style: "margin-top: 25px; border-top: solid 2px grey; background-color: #f2f2f2; height: 50px;"}
            = action_button "", "Submit a Session", '#', style: "margin: 10px; background: grey; color: white; font-weight: 100", disabled: "disabled"

  .span16{style: "border-top: 2px solid; margin-bottom: 20px;"}

  .row{style: "margin: 10px;"}
    .span8{style: "width: 400px; padding: 13px; height: 186px;"}
      %h2{style: "margin-bottom: 10px"}=t("cfp.contact_headline")
      %p=t("cfp.contact_mattermost")
      = action_button "primary", "Join the IFF Mattermost", "https://community.internetfreedomfestival.org/", target: :blank
      %p{style: "margin-top: 20px"} Follow the IFF on Twitter to be on top of all things IFF!
      = action_button "primary", "Follow @InternetFF", "http://twitter.com/internetff/", target: :blank

    .span8{style: "width: 400px; padding: 13px; height: 186px"}
      %h2{style: "margin-bottom: 10px"} Subscribe to the IFF Weekly Mailing List
      %p{style: "margin-top: 20px"} Get general news and updates, community stories, upcoming events and new job opportunities, all conveniently summarized and sent to your inbox once a week!
      = action_button "primary", t("Subscribe"), "https://lists.ghserv.net/mailman/listinfo/festival", target: :blank

  .span16{style: "border-top: 2px solid; margin-bottom: 20px;"}

  .row{style: "margin: 10px;"}
    .span8{style: "width: 400px; padding: 13px; height: 219px"}
      %h2{style: "margin-bottom: 10px"} Respect and Collaboration
      %p The IFF is designed to improve collaboration among very diverse communities, and is committed to providing a safe, welcoming and fun environment for everybody.
      %p We encourage all participants to approach the event with open and positive attitudes, to engage constructively with others, and take the time to celebrate the passion and accomplishments of fellows attendees.
      = action_button "primary", "Please Review our Code of Conduct", "https://internetfreedomfestival.org/wiki/index.php/Code_of_Conduct", target: :blank

    .span8{style: "width: 400px; padding: 13px; height: 219px"}
      %h2{style: "margin-bottom: 10px"} IFF Wiki
      %p The IFF Wiki is the central information hub for the IFF. You will find useful tips about our host city of Valencia including where to stay, transportation options, restaurants and more!
      = action_button "primary", "Check out the IFF Wiki", "https://internetfreedomfestival.org/wiki/index.php/Main_Page", target: :blank

  .row
    .span16
      - if @events.size > 0
        <br />
        %h2{style: "margin-left: 40px; margin-bottom: 35px;"}=t("cfp.events_submitted")
        = render "table", collection: @events

  .span16{style: "border-top: 2px solid; margin-bottom: 20px;"}
    %br
    .row{style: "margin-left: 35px;"}
      %p
      You can contact us at
      %a{href: "mailto:team@internetfreedomfestival.org"} team@internetfreedomfestival.org.


  -#
  -# .row{style: "margin-left: 10px;"}
  -#   - if @not_registered == false && @person.old_attendance_status == "confirmed"
  -#     .span16{style: "background-color: green; width: 871px; height: 31px; margin-bottom: 15px"}
  -#       %p{style: "color: white; padding: 6px"} You are CONFIRMED to attend the #{@conference.year} Internet Freedom Festival.
  -#   - if @not_registered == false && @person.old_attendance_status == "pending attendance"
  -#     .span16{style: "background-color: red; width: 871px; height: 31px; margin-bottom: 15px"}
  -#       %p{style: "color: white; padding: 6px"} You must confirm your attendance to access the IFF!
  -#   - if @not_registered == false && @person.old_attendance_status == "waitlist"
  -#     .span16{style: "background-color: #1ba5ab; width: 871px; height: 31px; margin-bottom: 15px"}
  -#       %p{style: "color: white; padding: 6px"} You are registered for the #{@conference.alt_title} Waitlist.
  -#
  -#   .span8{style: "background-color: #f2f2f2; width: 400px; height: 307px; padding: 13px"}
  -#     - if @person.old_attendance_status == "confirmed"
  -#       %h2{style: "margin-bottom: 10px"} You are confirmed to attend the #{@conference.alt_title}!
  -#       %b In order to access the IFF, you must provide the following information at registration:
  -#       %table{style: "margin-top: -15px"}
  -#         %tr
  -#           %th Public Name
  -#           <br />
  -#           %td
  -#             = @person.public_name
  -#         %tr
  -#           %th IFF ID
  -#           <br />
  -#           %td
  -#             = @person.id
  -#         %tr
  -#           %th
  -#           %td
  -#
  -#       %p{style: "margin-top: -10px"} Can't make it? Please click on the button below and let someone else attend!
  -#       = action_button "danger", "Cancel Attendance", cancel_attendance_cfp_person_path(@person.id)
  -#     - elsif @not_registered && @person.old_attendance_status == "pending attendance"
  -#       %h2{style: "margin-bottom: 10px"} Complete the Form to Attend IFF
  -#       %b{style: "color: orange; font-size: 16px;"} You need to complete the registration form to attend the #{@conference.year} Internet Freedom Festival.
  -#       <br />
  -#       <br />
  -#       = action_button "primary", "Register Now", edit_cfp_person_path
  -#     - elsif @not_registered == false && @person.old_attendance_status == "pending attendance"
  -#       %h2{style: "margin-bottom: 10px"} Confirm your Attendance!
  -#       %b{style: "font-size: 16px;"} All registered participants must confirm attendance to access the IFF:
  -#       <br />
  -#       <br />
  -#       = action_button "success", "Confirm Your Attendance", confirm_attendance_cfp_person_path
  -#       <br /><br />
  -#       %p Please Note: Failure to confirm attendance before January 18th will result in getting moved to the waiting list.
  -#       <br />
  -#       %p Can't make it? Please click on the button below and let someone else attend!
  -#       = action_button "danger", "Cancel Attendance", cancel_attendance_cfp_person_path(@person.id)
  -#     - elsif @person.old_attendance_status == "canceled"
  -#       %b{style: "color: orange; font-size: 16px;"} You canceled your attendance to the #{@conference.title}.
  -#     - elsif @person.old_attendance_status == "waitlist"
  -#       %b{style: "color: orange; font-size: 16px"} Ops! We’re at capacity!
  -#       <br />
  -#       <br />
  -#       - if @not_registered
  -#         %p Join the waitlist and we will contact you when more spots open.
  -#         = action_button "primary", "Register for the Waitlist", edit_cfp_person_path
      /%h2{style: "margin-bottom: 10px; margin-top: 10px"}=t("cfp.call_for_proposal_headline")
      / - if !@person.late_event_submit
      /   %b Thank you all for the amazing ideas and sessions!
      /   <br /><br />
      /   %p The #{@conference.alt_title} Call for Proposals closed on <strong>October 31st, 2017.</strong> We will be getting back to you by late November, early December, 2017.
      //- else
      //  %p=t("cfp.input_appreciation")
      / - if @person.late_event_submit
      /   = action_button "success", "Submit a New Proposal", new_cfp_event_path
      //%p=t("cfp.call_for_prop_info", conference_alt_title: @conference.alt_title)
      //- unless @conference.call_for_participation.info_url.blank?
      //%p=t("cfp.info_url_description_html", link: link_to(@conference.call_for_participation.info_url, @conference.call_for_participation.info_url))
      / %p
      /   =t("cfp.deadline_description")
      /   %b October 31st, 2017
      /%b= l(@conference.call_for_participation.end_date)
      - if cfp_hard_deadline_over?
        %p=t("cfp.hard_deadline_over")
      - elsif @person.events_in(@conference).size > 0 and not @conference.in_the_past?
        - if @person.availabilities_in(@conference).count == 0
          .clear
      - else
        - unless @conference.in_the_past?
          /%p=t("cfp.not_forget_personal_details")

          -# --------------------------------------------------------------------------------


  -# .row{style: "margin-left: 10px;"}
  -#   .span8{style: "background-color: #f2f2f2; width: 400px; padding: 13px"}
  -#     %h2{style: "margin-bottom: 10px"}=t("cfp.diversity_inclusion_headline")
  -#     %p=t("cfp.diversity_info", conference_title: @conference.title)
  -#     - if @no_events == false
  -#       - if @no_dif
  -#         /= action_button "success", "Apply Now", new_cfp_dif_path
  -#         %p{style: "margin-bottom: 55px"}
  -#       - else
  -#         = action_button "success", "Edit your Application", edit_cfp_dif_path
  -#         %p{style: "margin-bottom: 19px"}
  -#     - else


  -#   .span8{style: "background-color: #f2f2f2; width: 400px; height: 219px; padding: 13px;"}
  -#     %h2{style: "margin-bottom: 10px"} Contact
  -#     %p You can always reach the IFF team at <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  -#     /%p=t("cfp.contact_description_html", mail_to: mail_to(@conference.call_for_participation.contact_email))
  -#     = action_button "success", "Public PGP Key", "https://internetfreedomfestival.org/wp-content/uploads/2015/10/0x6FF97A2F.asc", target: :blank
  -# <br />
